.student-div{
    display: flex;
    background-color:  rgb(17, 1, 17);
    margin-bottom: 5%;

    margin-top: 3%;


    /* justify-content: center; */
}

.overlayon{
    /* outline: 2px solid red; */
    width: 50%;
    height: 50%;
    /* margin-left: 10%; */

}

.fade-img{
    overflow: hidden;
    width: 100%;


}

.student-welcome{
    /* text-align: center; */
    margin-left: 8% ;
    padding-top: 13%;
    /* padding-bottom: 5%; */
}

.welcome-std{
    color: white;
    font-weight: bold;
}