.form-page {
  /* background-color: aqua; */
}

.form-container {
  /* outline: chartreuse 2px solid; */

  display: flex;
  justify-content: center;

  margin-left: 15%;
  margin-right: 15%;
}

.main-form {
  /* outline: 2px solid black; */
  /* background-color: whitesmoke; */

  width: 50%;

  margin-top: 5%;
  margin-bottom: 15%;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

  
}

.sign-up-title{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 10%;

}

.form-group {
  font-family: "Helvetica", serif;
  /* background-color: whitesmoke; */

  width: 100%;

  padding-left: 10%;
  padding-right: 10%;

  margin-bottom: 5%;
  margin-top: 5%;

  border-bottom: 2px solid #767474;
}

.form-control{
    border-style: hidden;
    outline: none;

}
.firstname {
    margin-bottom: 10%;
    border-bottom: 1px solid #767474;
  
}

.lastname {
    margin-bottom: 10%;
    border-bottom: 1px solid #767474;
}

.email {
    margin-bottom: 10%;
    border-bottom: 1px solid #767474;
}

.password {
    margin-bottom: 16%;
    border-bottom: 1px solid #767474;
}

.btn-sign-up {
  display: flex;
  justify-content: center;
  background-color: midnightblue;
  font-size: 1.5vh;
  border-radius: 1rem;

  width: 50%;
  margin-left: 25%;
  margin-bottom: 12%;

  padding: 2%;

  /* padding-right: 1%;
  padding-left: 3%; */

  background-image: linear-gradient(90deg, red, blue);

  color: whitesmoke;
}

.forgot-password {
  width: 100%;

  display: flex;
  justify-content: center;

  margin-bottom: 12%;

  /* outline: chartreuse 2px solid; */
}

.or-login {
  width: 100%;
  height: 100%;
  margin-left: 20%;

  /* border-radius: 1rem;
    padding-left: 2%;
    padding-right: 2%; */

  /* outline: chartreuse 2px solid; */
}
